body {
  /* background-color: gold; */
  margin: 0;
  padding: 0;
}
div {
  border-radius: 20px;
}
#container {
  background: lightsteelblue;
  width: 970px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  padding: 10px;

}

#header {
  background: red;
  height: 80px;
  display: block;
  padding: 20px;
}

#header h1{
  color: #FFF;
  text-align: left;
}

#sidebar {
  background: rgb(10, 90, 165);
  float: left;
  /* display: inline-block; */
  width: 280px;
  height: auto;
  margin: 10px 0 0 0;
  padding: 10px 0 0 10px;

}

#main-content {
  background: rgb(4, 7, 51);
  /* float: right; */
  display: inline-block;
  width: 640px;
  height: auto;
  margin: 10px 0 0 15px;
  padding: 10px 10px 0 10px;
  color: #fff;
}

#footer {
  background: gray;
  display: block;
  width: 950px;
  height: auto;
  margin-top: 10px;
  padding: 10px 0 10px 20px;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: lightskyblue;
}

code {
  /* font-family: sans-serif; */
  color: rgb(64, 150, 207);
}